
#encabezado{
    
    color: blueviolet;
    font-weight: bold;
    
}

#tituloPrincipal{
    
    color: red;
    font-family: Comic Sans MS;
        
}

.parrafosCentrados{
    
    text-align: center;
    font-weight: bold;
    color: grey
    
}

.textoVerde{
    
    color:#33ff00
    
}

/** {
    
    color:whitesmoke;
    
}*/

p, h1, span {
    
    color: blue;
    
}

a:link {
    
    background-color: green;
    color: white;
    
}

a:visited{
    
    background-color: violet; 
    
}

a:hover{
    
    background-color: darkblue;
    color: white;
    
}

a:active{
    
    background-color: red;
    color: white;
    
}

p:nth-child(odd){
    
    background-color:#ff9900;
    
    
}

p:nth-child(even){
    
    background-color:#3399ff
    
}